# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.13" }
      - name: Install ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Check src
        run: ruff check src
      - name: Check tests
        run: ruff check tests
        
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.SUBMODULE_TOKEN }}
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -e user_service
          pip install --group dev

      - name: Run tests and generate coverage report
        run: pytest -q --cov-report xml:cov.xml --cov

      - name: Upload test coverage
        uses: actions/upload-artifact@v5
        with:
          name: pytest-results
          path: cov.xml
        

