# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.13" }
      - name: Install ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Ruff check
        run: ruff check src
        
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install --group dev

      - name: Run tests and generate coverage report
        run: pytest -q --cov-report xml:cov.xml --cov

      - name: Upload test coverage
        uses: actions/upload-artifact@v5
        with:
          name: pytest-results
          path: cov.xml

  coverage:
    name: Test Coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Download coverage results
        uses: actions/download-artifact@v5
        with:
          name: pytest-results
      - name: Get coverage
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: cov.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.5
          thresholdModified: 0.6
        

